<div>
    <li data-role="stack-item" data-id="{{ id }}">
ITEM
        <button class="btn btn-default" data-action="stack-item-enlarge">
            <span class="glyphicon glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default" data-action="stack-item-remove">
            <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </li>

</div>