/* Fenix Common CSS */
/*#0076ff*/
/* Boostrap Queries */
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

/* Preload CSS */
.loading {
  display: inline-block;
  border: 0 solid rgba(215, 215, 215, 0.25);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.loading:before {
  content: '';
  display: block;
  border: 0 solid transparent;
  border-top-color: #bebebe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: loading 1s ease infinite;
  -moz-animation: loading 1s ease infinite;
  -ms-animation: loading 1s ease infinite;
  -o-animation: loading 1s ease infinite;
  animation: loading 1s ease infinite; }

/***************************************/
/*				 LOADING			   */
/***************************************/
.loading-16 {
  width: 12px;
  height: 12px;
  border-width: 2px; }

.loading-16:before {
  width: 12px;
  height: 12px;
  border-width: 2px;
  margin: -2px 0 0 -2px; }

.loading-24 {
  width: 18px;
  height: 18px;
  border-width: 3px; }

.loading-24:before {
  width: 18px;
  height: 18px;
  border-width: 3px;
  margin: -3px 0 0 -3px; }

.loading-32 {
  width: 26px;
  height: 26px;
  border-width: 4px; }

.loading-32:before {
  width: 26px;
  height: 26px;
  border-width: 4px;
  margin: -4px 0 0 -4px; }

.loading-48 {
  width: 38px;
  height: 38px;
  border-width: 5px; }

.loading-48:before {
  width: 38px;
  height: 38px;
  border-width: 5px;
  margin: -5px 0 0 -5px; }

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg); } }
@-ms-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg); } }
@-o-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes loading {
  100% {
    transform: rotate(360deg); } }
/* Fenix Icons */
.fx-icon, [data-selector-time] [data-action="previous"] span, [data-selector-time] [data-action="next"] span {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-image: url(".//css/img/fenix-catalog-sprite-small.svg");
  background-repeat: no-repeat;
  background-size: 150px 30px; }

.fx-icon-close {
  background-position: 0 -15px; }

/* Filter */
[data-selector], [data-semantic] {
  /* Focused */
  /* Mandatory */
  /* Disabled */
  /* Hovered */ }
  [data-selector] .controller, [data-semantic] .controller {
    position: absolute;
    right: 0;
    top: 17px; }
    [data-selector] .controller input[type="checkbox"] + label:before, [data-semantic] .controller input[type="checkbox"] + label:before {
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      -ms-border-radius: 50% !important;
      border-radius: 50% !important; }
    [data-selector] .controller .btn-round, [data-semantic] .controller .btn-round {
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      -ms-border-radius: 50% !important;
      border-radius: 50% !important; }
  [data-selector] .disabled, [data-semantic] .disabled {
    cursor: no-drop;
    opacity: 0.4; }
  @media screen and (max-width: 480px) {
    [data-selector] .controller, [data-semantic] .controller {
      opacity: 1;
      pointer-events: auto; } }
  @media screen and (min-width: 768px) {
    [data-selector] .controller, [data-semantic] .controller {
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.3s ease 0.2s;
      -moz-transition: all 0.3s ease 0.2s;
      -ms-transition: all 0.3s ease 0.2s;
      -o-transition: all 0.3s ease 0.2s;
      transition: all 0.3s ease 0.2s; }
    [data-selector]:hover .controller, [data-semantic]:hover .controller {
      opacity: 1;
      pointer-events: auto; } }

.selector-header {
  padding: 10px 0;
  position: relative; }

.fx-selector-title {
  margin-right: 50px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  @media (min-width: 992px) {
    .fx-selector-title {
      margin-right: 105px; } }

.filter-enabled-label {
  width: 10px;
  font-size: 0;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  @media (min-width: 992px) {
    .filter-enabled-label {
      width: auto;
      font-size: inherit; } }

.selector-footer [data-role="summary"] {
  margin: 0; }

[data-code] {
  display: inline-block;
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 1px 3px;
  background-color: #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.code-brk {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  color: #999999; }

/* Buttons */
.btn-default {
  color: #333; }

[data-role="remove"].btn-round {
  position: relative;
  top: -2px; }

/* Tree */
.tree-holder {
  height: 150px;
  overflow: auto; }

.fx-tree-search {
  margin-bottom: 5px; }

.fx-tree-buttons {
  margin-bottom: 5px; }

.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
  color: #333; }

/* Range Slider */
.irs-bar, .irs-bar-edge, .irs-line {
  height: 5px;
  top: 37px; }

.irs-bar {
  border-top: 1px solid #0076ff;
  border-bottom: 1px solid #0076ff; }

.irs-bar-edge {
  border: 1px solid #0076ff; }

.irs-bar, .irs-bar-edge {
  background: #0076ff; }

.irs-line {
  background: #bdbdbd;
  border-color: transparent; }

.irs-slider {
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.irs-from, .irs-to, .irs-single {
  background: transparent;
  color: #0076ff; }

/* Time */
.time-selector-icon {
  font-size: 20px; }

[data-selector-time] .day.active {
  background-color: #0076ff; }
  [data-selector-time] .day.active:hover {
    background-color: #407bbf; }
[data-selector-time] .day.today:before {
  border-bottom-color: #0076ff; }
[data-selector-time] .month.active {
  background-color: #0076ff; }
[data-selector-time] .year.active {
  background-color: #0076ff; }
[data-selector-time] .fx-time-addon {
  font-size: 24px;
  padding: 2px 8px;
  color: #0076ff; }
[data-selector-time] [data-action="incrementHours"], [data-selector-time] [data-action="decrementHours"], [data-selector-time] [data-action="incrementMinutes"], [data-selector-time] [data-action="decrementMinutes"] {
  font-size: 24px;
  color: #0076ff; }
[data-selector-time] [data-action="previous"] span:before, [data-selector-time] [data-action="next"] span:before {
  content: none; }
[data-selector-time] [data-action="next"] span {
  background-position: -135px 0; }
[data-selector-time] [data-action="previous"] span {
  background-position: -135px -15px; }
[data-selector-time] [data-action="togglePicker"] {
  padding: 0; }
  [data-selector-time] [data-action="togglePicker"] span {
    font-size: 24px;
    color: #0076ff;
    line-height: 35px !important;
    height: auto !important; }

/* Sortable */
.filter-sortable-list .list-item {
  cursor: pointer;
  margin: 3px;
  padding: 1px 3px;
  background-color: #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

[data-group] ul {
  min-height: 50px;
  padding: 6px 12px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  background-image: none;
  border: 1px solid #d8d8d8; }

/* Catalog */
.fx-catalog [data-content] {
  display: none;
  height: 100%; }
.fx-catalog [data-status="ready"] [data-content="ready"] {
  display: block; }
.fx-catalog [data-status="error"] [data-content="error"] {
  display: block; }
.fx-catalog [data-status="loading"] [data-content="loading"] {
  display: block; }
.fx-catalog [data-status="empty"] [data-content="empty"] {
  display: block; }
.fx-catalog [data-status="intro"] [data-content="intro"] {
  display: block; }

/* Visualization Box Style */
.fx-box {
  height: 450px;
  border: 1px solid #e0e0e0;
  /* Hovered */ }
  .fx-box [data-content] {
    display: none;
    height: 450px;
    position: relative; }
    .fx-box [data-content] .loading {
      position: absolute;
      top: 45%; }
  .fx-box .front-content, .fx-box .back-content {
    height: 424px; }
  .fx-box .box-title {
    margin-left: 85px;
    margin-right: 192px; }
  .fx-box .toolbar-cmd-left, .fx-box .toolbar-cmd-right {
    opacity: 1;
    pointer-events: auto; }
  @media screen and (min-width: 768px) {
    .fx-box .toolbar-cmd-left, .fx-box .toolbar-cmd-right {
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.3s ease 0.2s;
      -moz-transition: all 0.3s ease 0.2s;
      -ms-transition: all 0.3s ease 0.2s;
      -o-transition: all 0.3s ease 0.2s;
      transition: all 0.3s ease 0.2s; }
    .fx-box .box-title {
      margin-left: 15px;
      margin-right: 15px;
      -webkit-transition: all 0.3s ease 0.2s;
      -moz-transition: all 0.3s ease 0.2s;
      -ms-transition: all 0.3s ease 0.2s;
      -o-transition: all 0.3s ease 0.2s;
      transition: all 0.3s ease 0.2s; }
    .fx-box:hover .toolbar-cmd-left, .fx-box:hover .toolbar-cmd-right {
      opacity: 1;
      pointer-events: auto; }
    .fx-box:hover .box-title {
      margin-left: 85px;
      margin-right: 192px; } }
  .fx-box[data-status="ready"] [data-content="ready"] {
    display: block; }
  .fx-box[data-status="error"] [data-content="error"] {
    display: block; }
  .fx-box[data-status="loading"] [data-content="loading"] {
    display: block; }
  .fx-box[data-status="empty"] [data-content="empty"] {
    display: block; }
  .fx-box[data-status="huge"] [data-content="huge"] {
    display: block; }
  .fx-box [data-content="ready"] [data-section] {
    display: none; }
  .fx-box [data-content="ready"][data-tab="chart"] [data-section="chart"] {
    display: block; }
  .fx-box [data-content="ready"][data-tab="table"] [data-section="table"] {
    display: block; }
  .fx-box [data-content="ready"][data-tab="map"] [data-section="map"] {
    display: block; }
  .fx-box [data-content="ready"][data-tab="blank"] [data-section="blank"] {
    display: block; }
  .fx-box [data-content="ready"][data-tab="metadata"] [data-section="metadata"] {
    display: block; }
  .fx-box [data-content="ready"][data-tab="download"] [data-section="download"] {
    display: block; }

.vb-toolbar {
  background-color: white;
  border-bottom: 1px solid #e0e0e0; }
  .vb-toolbar .meta-btn {
    margin-top: 2px; }
  .vb-toolbar .toolbar-cmd-left {
    width: 85px;
    position: absolute;
    top: 0;
    left: 0; }
  .vb-toolbar .toolbar-cmd-right {
    width: 192px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 0;
    /* Avoid space between elements with display inline */ }
    .vb-toolbar .toolbar-cmd-right button {
      float: none;
      /* Avoid 1px bug on the right in md resolution */
      margin-left: 0 !important;
      /* Avoid 1px bug of the bootstrap's btn-group */
      display: inline-block; }
      .vb-toolbar .toolbar-cmd-right button[data-action="flip"] {
        background-color: #e0e0e0; }
      .vb-toolbar .toolbar-cmd-right button:last-child {
        margin-right: 0;
        /* Remove margin from the last child of btn-group */ }
  .vb-toolbar button {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    padding: 1px 10px 0 10px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .vb-toolbar button[disabled] {
      background-color: transparent;
      border: 0;
      opacity: 1; }
      .vb-toolbar button[disabled] span {
        opacity: 0.35; }
    .vb-toolbar button:hover {
      border: 0;
      border-color: transparent;
      background-color: #e0e0e0;
      color: #0076ff; }
  .vb-toolbar .box-title {
    color: #0076ff;
    margin-top: 5px;
    margin-bottom: 5px; }

/*Flip effect */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  height: 450px; }

/* flip the pane when hovered*/
.flip-container.flipped .flipper {
  transform: rotateY(180deg); }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  height: 100%;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* FRONT pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-color: white; }

.visualization-item-content {
  position: relative;
  z-index: 0; }

[data-role="toolbar"] {
  z-index: 1;
  position: absolute;
  background-color: white; }

[data-section] {
  position: relative; }

/* BACK, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: #e0e0e0; }

[data-role="back-content"] {
  height: 100%; }

.process-details {
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto; }

.show-back-sidebar {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px; }

.sidebar-title {
  color: #999999;
  padding: 0 15px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px; }

.filter-slide {
  width: 250px !important; }

.back-right-content {
  height: 100%;
  padding-top: 15px; }

.swiper-container, .swiper-slide {
  width: 100%;
  height: 350px; }

.back-row {
  position: relative;
  height: 100%; }

[data-role='back-sidebar'] {
  z-index: 1;
  height: 100%;
  position: absolute; }
  [data-role='back-sidebar'] .sidebar-content {
    background-color: white;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    position: absolute;
    top: 15px;
    left: 15px; }
    [data-role='back-sidebar'] .sidebar-content .process-steps-container {
      padding: 5px 15px;
      position: absolute;
      bottom: 0;
      height: 360px;
      width: 100%;
      overflow-x: hidden;
      overflow-y: scroll; }
  @media screen and (min-width: 768px) {
    [data-role='back-sidebar'] {
      position: absolute; } }
  @media screen and (min-width: 992px) {
    [data-role='back-sidebar'] {
      position: relative; } }
  @media screen and (min-width: 1200px) {
    [data-role='back-sidebar'] {
      position: relative; } }

.step-container {
  padding: 5px 10px;
  margin: 7px 0;
  cursor: pointer;
  background-color: #e0e0e0;
  position: relative; }
  .step-container .step-title {
    font-weight: normal;
    margin: 2px 0;
    margin-left: 23px;
    color: white; }
  .step-container .step-icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 29px;
    background-color: #333;
    top: 0;
    left: 0;
    color: white; }
    .step-container .step-icon:before {
      font-size: 20px;
      position: relative;
      top: 3px;
      left: 5px; }
  .step-container.active:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #333 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #333 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }

[data-resourcerepresentationtype].step-container {
  background-color: #fd433c; }
  [data-resourcerepresentationtype].step-container .step-icon {
    background-color: #b02f2a; }

/*TODO temporary*/
[data-role="toolbar"] {
  height: 615px; }

/* Analysis */

/*# sourceMappingURL=test.css.map */
