/* Fenix Common CSS */
@import '../../../fenix-ui-common/css/themes/fx-variables';


@import '../../../fenix-ui-common/css/utils/fx-mixins';

/* Boostrap Queries */
@import '../../../fenix-ui-common/css/themes/fx-bootstrap-queries';

@import '../../../fenix-ui-common/css/components/fx-dropdown';
@import '../../../fenix-ui-common/css/components/fx-preload';
@import '../../../fenix-ui-common/css/components/fx-icons';
@import '../../../fenix-ui-filter/src/css/filter';
@import '../../../fenix-ui-catalog/src/css/catalog';
@import '../../../fenix-ui-olap/src/css/olap';
@import '../../../fenix-ui-visualization-box/src/css/visualization-box';
@import '../../src/css/analysis';
