<div class="row">
    <!-- Important! Do not remove col-sm-12 or change accordingly the plugin -->
    <div class="col-sm-12" data-role="content">

        <button data-role="filter-btn" class="btn btn-default">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        </button>

        <div class="row">
            <div class="col-sm-12">
                <div data-role="chart"> </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6" data-role="filter">
        <div class="col-sm-3">
        <h3>X axis</h3>
        <select data-axis="x"></select>
    </div> </div>

</div>