<div>

    <div data-role="analysis" class="fx-analysis">

        <div class="row">
            <div class="col-xs-12">
                <button class="btn pulse-button" data-action="catalog" title="{{tooltip_open_catalog}}">
                    <span class="icojam_folder_2_open"></span>
                </button>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div data-role="courtesy">
                    <div class="courtesy-img"></div>
                    <h2 class="courtesy-intro-title text-center">{{{courtesy_intro_title}}}</h2>
                    <p class="courtesy-intro text-center">{{{courtesy_intro}}}</p>
                </div>
                <div data-role="grid"> </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul data-role="stack"  class="list-unstyled"></ul>
            </div>
        </div>

        <div data-role="modal" class="modal fade catalog-modal" tabindex="-1" role="dialog" aria-labelledby="analysisCatalog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div data-role="catalog-container"></div>



                </div>
            </div>
        </div>

    </div>

    <li data-role="stack-item" data-id="{{ id }}">
ITEM
        <button class="btn btn-default" data-action="stack-item-enlarge">
            <span class="glyphicon glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default" data-action="stack-item-remove">
            <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </li>

</div>