/* Analysis */

.fx-analysis {

}


.fx-grid-item[data-size="full"] { width: 100%; }
.fx-grid-item[data-size="half"] { width: 50%; }

.courtesy-intro{

}


.courtesy-img{
  width: 140px;
  height: 129px;
  background-image: url("#{$fx-ui-common}/css/img/mascot-01-gray.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 25px auto;
}




.pulse-button {
  font-size: 20px;
  display: inline-block;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 2;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: $fx-cool-blue;
  @include fx-border-radius(50%);
  cursor: pointer;
  vertical-align: middle;
  margin: 10px;

  span{
    position: relative;
    left: 1px;
  }

  &:hover, &:focus, &:active, &:visited, &.first-init{
    color: white;
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }


  box-shadow: 0 0 0 0 rgba($fx-cool-blue, 0.7);

  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}


@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba($fx-cool-blue, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba($fx-cool-blue, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba($fx-cool-blue, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba($fx-cool-blue, 0);}}